################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aplication/.vs/Aplication/FileContentIndex/5978b8fa-9a2a-4386-bc15-496827c6abfc.vsidx
/Aplication/.vs/Aplication/FileContentIndex/66336806-bbcc-4654-85f3-5ee87274b801.vsidx
/Aplication/.vs/Aplication/FileContentIndex/a5ba37d9-ae7e-432a-ab8c-234ce3234980.vsidx
/Aplication/.vs/Aplication/FileContentIndex/a73c1dcb-676a-4d9c-80c8-36ff38d469a8.vsidx
/Aplication/.vs/Aplication/FileContentIndex/ed49b970-64ff-4fb6-9afc-0e1bc71edc85.vsidx
